* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    color: #fff;
}

#btnComenzar {
    position: absolute;
    padding: 10px;
    margin: 0;
    bottom: 0;
    width: 100vw;
    height: 15%;
   font-family: 'Trebuchet MS', serif;
}

.encabezado {
    background-color: rgb(21, 64, 191);
    height: 60px;
    width: 100vw;
    padding: 15px;
    margin: 0;
    top: 0;
}

h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.box {
    background: url("/assets/img/fondoPreguntados.jpg") no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 92vh;
    margin-top: 2.5rem;
}

.imgIngreso {
    margin-top: 5vw;
}

.btn {
    padding: 15px 80px;
    text-align: center;
    box-shadow: 0 10px 30px 0 rgba(47, 76, 90, 0.4);
    border-radius: 5px 5px 5px 5px;
    border-color: rgb(136, 136, 136);
    margin: 5px 20px 40px 20px;
    transition: all 0.3s ease-in-out;
    color: #000000;
}

.btn:hover {
    background-color: rgb(21, 64, 191);
    color: #fff;
}

.btnTexto {
    font-weight: bold;
    color: #463ca6;

}

.btn-grad {
    background-image: linear-gradient(to right, #3494E6 0%, #EC6EAD 51%, #3494E6 100%);
    margin: 0px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 20px #eee;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.bandera {
    margin-top: 1rem;
}


@media only screen and (min-width: 320px) and (max-width: 900px) {
    #btnComenzar {
        height: 60px;
    }

    .imgIngreso {
        margin-top: 20vh;
        height: 30vh;
    }

    .box {
        margin-top: 2.5rem;
    }

    .encabezado {
        height: 50px;
    }

    .bandera {
        width: 40vw;
    }

}

@media only screen and (min-width: 300px) and (max-width: 720px) {
    .bandera {
        width: 200px;
        height: 100px;
    }

    .btn {
        height: 9vh;
        padding: 0px 20px;
        text-align: center;
        margin: 2.5px 10px 20px 10px;
    }

    .encabezado {
        margin-top: 0.7rem;
        width: 100vw;
        padding: 0.5rem;
        height: 35px;
    }

    h4 {
        font-size: 14px;
    }
}

@media only screen and (min-height: 120px) and (max-height: 420px) {
    .box {
        height: 400px;
    }

    h4 {
        font-size: 14px;
    }

    .encabezado {
        margin-top: 1rem;
        width: 100vw;
        padding: 0.5rem;
        height: 35px;
    }

    .bandera {
        width: 160px;
        height: 80px;
    }

    .btn {
        height: 10vh;
        padding: 0px 20px;
        text-align: center;
        margin: 2.5px 10px 20px 10px;
    }

}