<div id="container">
    <div class="col-12 caja">
        <div class="card text-center box">
            <img [hidden]="auth2" class="imgIngreso" src="assets/img/imagenPreguntados.png" alt="">
            <button [hidden]="auth2" class="btn-grad" (click)="comenzar()" id="btnComenzar">Comenzar</button>
            <div [hidden]="!auth2" class="card-header bg-info " class="encabezado" id="titulo">
                <h4 class="text-center">{{pregunta}}</h4>
            </div>
            <div [hidden]="!auth2" class="card-body text-center">
                <img *ngIf="imagen" class="bandera" src="{{imagen}}" appNotimage alt="{{pais}}" title="{{pais}}">

                <div class="row text-center m-2">
                    <button (click)="oprimirBtn(0)" id="btn1"
                        class="btn m-1 col-lg-12 col-md-12 col-xs-12 ">{{opcion1}}</button>
                    <button (click)="oprimirBtn(1)" id="btn2"
                        class="btn m-1 col-lg-12 col-md-12 col-xs-12 ">{{opcion2}}</button>
                    <button (click)="oprimirBtn(2)" id="btn3"
                        class="btn m-1 col-lg-12 col-md-12 col-xs-12 ">{{opcion3}}</button>
                    <button (click)="oprimirBtn(3)" id="btn4"
                        class="btn m-1 col-lg-12 col-md-12 col-xs-12 ">{{opcion4}}</button>
                </div>
            </div>
        </div>
    </div>
</div>