* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.box{
	min-height: 100vh;
	background: linear-gradient(to top,#495a5e,#82919d);
}

#container {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	font-family: 'Jost', sans-serif;
	color: #fff;
	overflow: hidden
}

h1 {
	color: #fff;
}

.mensajes {
	width: 95%;
	height: 80vh;
	background: url("../../../assets/img/fondoChat.jpeg") no-repeat center;
	background-size: cover;
	margin: 0;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	padding: 10px;
	padding-bottom: 0;
	border: 2px solid black;
	margin-bottom: 0;
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
	overflow-y: scroll;
}

.box-listado {
	margin-top: 1em;
	height: 90%;
	margin-bottom: 1em;
}

.box-mensaje {
	width: 95%;
}

.submit {
	justify-content: center;
	align-items: center;
	margin-left: 5%;
	margin-top: -1em;
}

.input {
	width: 100%;
	background-color: #fff;
}

.boton {
	width: 200px !important;
}

.no-sesion {
	display: flex;
	margin: 0;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 4rem;
}

button {
	width: 8rem;
	height: 3rem;
	border-radius: 2rem;
	background-color: #0d6efd;
}

@media only screen and (min-width: 280px) and (max-width: 676px) {

	.box-listado {
		margin-left: -10%;
	}
	#container {
		overflow: hidden
	}

	h1 {
		font-size: 1.5rem;
		margin: 1em;
	}
}