<div id="container">
    <div id="box" class="row">
        <div class="title text-flicker-in-glow">
            <h4>Listado de resultados</h4>
        </div>
        <table class="table table-responsive table-hover text-focus-in ">
            <thead>
                <tr class="head">
                    <th>USUARIO</th>
                    <th>PUNTAJE</th>
                    <th>JUEGO</th>
                    <th>FECHA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resultado of listado">
                    <td>{{resultado.usuario}}</td>
                    <td>{{resultado.puntaje}}</td>
                    <td>{{resultado.juego}}</td>
                    <td>{{resultado.fecha}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>