*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.barraNav{
position: absolute;
width: 100%;
background:linear-gradient(to bottom, #463ca6, #c2c0d3, #343471);
color: #fff;
}

#container{
	background: url("../../../../assets/img/fondoMayor.jpg") no-repeat center;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
}

h1{
    color: #fff;
}

.boxCartas {
	width: 80%;
	height: 60%;
	border: 1px solid black;
	display: flex;
	margin-top: 4rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: #1c9747;
	border:2rem solid #927b4f;
  }
  
  .cartas {
	width: 8rem;
	height: 12rem;
	margin: 3rem;
	box-shadow: 1px 2px 1px 1px black;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 6rem;
	background-image: url("../../../../assets/img/naipe.jpg");
	overflow: hidden;
	background-size: cover;
  }

  .mensaje{
	  width: 4rem;
	  color: #fff;
  }
  
  button {
	background-color: cadetblue;
	color: aliceblue;
	width: 6rem;
	height: 3rem;
	margin: 10px;
	border-radius: 1rem;
  }

  img{
	  width: 200px;
	  height: 200px;
  }
  
  .score{
	  color: #fff;
	  position:fixed;
	  display:flex;
	  margin-top: -14rem;

  }
