* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Teko', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

#container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    min-height: 100vh;
    background: #c2e59c;
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    overflow: hidden;
}

#box {
    padding: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#box2 {
    padding: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

img {
    min-height: 100vh;
    max-width: 34vw;
    overflow: hidden;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}

h3 {
    margin-top: 0.5em;
    font-size: 1.5rem;
}

input {
    width: 100%;
}

.fuente {
    font-size: 1.5rem;
    font-weight: bold;
}

.cuadro {
    margin-top: 1em;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

.opciones {
    justify-content: center;
    font-size: 1.2rem;
}

.radioBtn {
    float: left;
    margin-left: 2em;
}

button {
    margin-top: 2em;
    width: 100%;
}

.check {
    float: left;
    margin-left: 1em;
    width: 20px;
    height: 20px;
}

#spinner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 10;
	width: 220px;
	height: 220px;
  }

@media only screen and (min-width: 280px) and (max-width: 720px) {
    img {
        min-width: 100vw;
    }

    #box2 {
        margin-top: 0;
    }

}