<div id="container" class="color-change-2x">
    <div class="row">
        <div class="col text-center font box">
            <h4><img src="assets/img/vida.png" alt="" class="vida"> {{vidas}}</h4>
            <h3>Puntaje <small> {{puntaje}} </small></h3>
            <img src="{{url}}" alt="ahorcado-img" class="ahorcado-img flicker-1">
            <div>
                <h3>Intentos <small> {{intentos}}/6</small></h3>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col text-center box-palabra font">
            <div *ngFor="let letra of palabraAuxiliar" class="box-letra">{{letra}}</div>
        </div>
    </div>

    <div class="row teclado">
        <div class="col text-center">
            <button *ngFor="let letra of letras" class="btn btn-primary btn-letras color-change-btn" (click)="buscar(letra)"> {{ letra }}
            </button>
        </div>
    </div>
</div>