*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


#container{
	background: url("../../../../assets/img/ahorcadoFondo.jpg") no-repeat center;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
}

h1{
    color: #fff;
}

.box-palabra {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
  }
  
  .font{
	color: #fff;
	font-size: 1.5rem;
  }

  .texto{
	  color: #fff;
  }

  button {
	background-color: cadetblue;
	color: aliceblue;
	width: 4rem;
	height: 2.5rem;
	margin: 10px;
	border-radius: 1rem;
  }

  img{
	  width: 200px;
	  height: 200px;
	  margin-bottom: 2rem;
  }
  
 .teclado{
	 width: 90%;
 }

 .box-letra{
	width: 2.5rem;
	height: 2.5rem;
	margin: 0.5rem;
	border-bottom: 1px solid black;
 }

 .item{
	position: absolute;
	top:0;
	left: 0;
	margin-top: 5rem;
	margin-left: 1rem;
 }

.btn-recargar{
	width: 12rem;
	height: 2rem;
	margin-top: -1rem;
	background-color: rgb(4, 68, 26);
}
