<div id="container">
    <div class="row">
        <div class="col text-center font">
            <h3 style="margin-bottom: 1rem;">Puntaje <small> {{puntaje}} </small></h3>
            <img src="{{url}}" alt="ahorcado-img" class="ahorcado-img">
            <div>
                <h3>Intentos <small> {{intentos}}/ 6</small></h3>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col text-center box-palabra font">
            <div *ngFor="let letra of palabraAuxiliar" class="box-letra">{{letra}}</div>
        </div>
    </div>

    <div class="row teclado">
        <div class="col text-center">
            <button *ngFor="let letra of letras" class="btn btn-primary btn-letras" (click)="buscar(letra)"> {{ letra }}
            </button>
        </div>
    </div>
</div>