<app-nav class="barraNav"></app-nav>

<div id="container">

    <mdb-carousel [isControls]="false" class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <img class="d-block w-100" src='../../../assets/img/carrusel1.png' alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src='../../../assets/img/carrusel2.png' alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src='../../../assets/img/carrusel3.png' alt="Third slide">
      </mdb-carousel-item>
    </mdb-carousel>

</div>