* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

#container {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}


h1 {
	color: #fff;
}


mdb-carousel {
	float: inline-end;
	margin-top: 5em;
}

img {
	min-height: 50vh;
	min-width: 100vw;
}


.boton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em;
}


button {
	min-width: 280px;
	min-height: 60px;
	//font-family: 'Nunito', sans-serif;
	font-family: 'Carter One', cursive;
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
	color: #343435;
	background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
	border: none;
	border-radius: 25px;
	box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 10px;
}

.btn:hover,
.btn:focus {
	color: #313133;
	transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
	opacity: 1;
}

.flicker-3 {
	-webkit-animation: flicker-3 2.5s linear infinite both;
	        animation: flicker-3 2.5s linear infinite both;
}

 @-webkit-keyframes flicker-3 {
	0%,
	100% {
	  opacity: 1;
	}
	32.98% {
	  opacity: 1;
	}
	33% {
	  opacity: 0;
	}
	34% {
	  opacity: 0;
	}
	34.02% {
	  opacity: 1;
	}
	34.98% {
	  opacity: 1;
	}
	35% {
	  opacity: 0;
	}
	35.9% {
	  opacity: 0;
	}
	35.92% {
	  opacity: 1;
	}
	38.98% {
	  opacity: 1;
	}
	39% {
	  opacity: 0;
	}
	39.8% {
	  opacity: 0;
	}
	39.82% {
	  opacity: 1;
	}
	83.98% {
	  opacity: 1;
	}
	84% {
	  opacity: 0;
	}
	84.9% {
	  opacity: 0;
	}
	84.92% {
	  opacity: 1;
	}
  }
  @keyframes flicker-3 {
	0%,
	100% {
	  opacity: 1;
	}
	32.98% {
	  opacity: 1;
	}
	33% {
	  opacity: 0;
	}
	34% {
	  opacity: 0;
	}
	34.02% {
	  opacity: 1;
	}
	34.98% {
	  opacity: 1;
	}
	35% {
	  opacity: 0;
	}
	35.9% {
	  opacity: 0;
	}
	35.92% {
	  opacity: 1;
	}
	38.98% {
	  opacity: 1;
	}
	39% {
	  opacity: 0;
	}
	39.8% {
	  opacity: 0;
	}
	39.82% {
	  opacity: 1;
	}
	83.98% {
	  opacity: 1;
	}
	84% {
	  opacity: 0;
	}
	84.9% {
	  opacity: 0;
	}
	84.92% {
	  opacity: 1;
	}
  }
  

@media only screen and (min-width: 240px) and (max-width: 576px) {
	button {
		min-width: 240px;
		min-height: 50px;
	}

}
