<div id="container">
  <div class="items" style="width: 18rem;">
    <img src="../../../../assets/img/ahorcado.png" class="card-img-top" alt="ahorcado">
    <div class="card-body">
      <h5 class="card-title">Ahorcado</h5>
      <p class="card-text">Puedes descubrir rápidamente cada una de estas palabras ocultas? Ponte a prueba</p>
      <a routerLink="/juegos/ahorcado" class="btn btn-light">Comenzar</a>
    </div>
  </div>
  <div class="items" style="width: 18rem;">
    <img src="./../../../assets/img/mayoromenor.png" class="card-img-top" alt="Mayor o menor">
    <div class="card-body">
      <h5 class="card-title">Mayor o menor</h5>
      <p class="card-text">Tienes que adivinar si la proxima carta es mayor o menor. No puedes cometer ningún error.</p>
      <a routerLink="/juegos/mayormenor" class="btn btn-light">Comenzar</a>
    </div>
  </div>
  <div class="items" style="width: 18rem;">
    <img src="../../../../assets/img/preguntados.png" class="card-img-top" alt="preguntados">
    <div class="card-body">
      <h5 class="card-title">Preguntados</h5>
      <p class="card-text">Adivina las respuestas de seis categorías diferentes: geografía, historia, arte, ciencia,
        entretenimiento, deportes.</p>
      <a routerLink="/juegos/preguntados" class="btn btn-light">Comenzar</a>
    </div>
  </div>
  <div class="items" style="width: 18rem;">
    <img src="../../../../assets/img/snake.png" class="card-img-top" alt="preguntados">
    <div class="card-body">
      <h5 class="card-title">Snake</h5>
      <p class="card-text">Un juego clásico,logra que la serpiente se alimente y esquiva los obstáculos.</p>
      <a routerLink="/juegos/juegopropio" class="btn btn-light">Comenzar</a>
    </div>
  </div>
</div>