<div id="container" class="row col-12">
  <div class="items col-md-4" >
    <img src="../../../../assets/img/ahorcado.png" class="card-img-top fade-in-fwd " alt="ahorcado">
    <div class="card-body">
      <h5 class="card-title">Ahorcado</h5>
      <p class="card-text">Puedes descubrir rápidamente cada una de estas palabras ocultas? Vamos, ponte a prueba</p>
      <a routerLink="/juegos/ahorcado" class="btn btn-grad shake-top">Comenzar</a>
    </div>
  </div>
  <div class="items col-md-4" >
    <img src="./../../../assets/img/mayoromenor.png" class="card-img-top fade-in-fwd " alt="Mayor o menor">
    <div class="card-body">
      <h5 class="card-title">Mayor o menor</h5>
      <p class="card-text">Tienes que adivinar si la proxima carta es mayor o menor. No puedes cometer ningún error.</p>
      <a routerLink="/juegos/mayormenor" class="btn btn-grad shake-top">Comenzar</a>
    </div>
  </div>
  <div class="items col-md-4" >
    <img src="../../../../assets/img/preguntados.png" class="card-img-top fade-in-fwd " alt="preguntados">
    <div class="card-body">
      <h5 class="card-title">Preguntados</h5>
      <p class="card-text">Adivina las respuestas de seis categorías diferentes: geografía, historia, arte, ciencia.</p>
      <a routerLink="/juegos/preguntados" class="btn btn-grad shake-top">Comenzar</a>
    </div>
  </div>
</div>