<app-nav class="barraNav"></app-nav>
<div id="container">
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

		<div class="login">
			<form>
				<label for="chk" aria-hidden="true" class="title">Iniciar Sesion</label>
				<input type="email" name="email" placeholder="Email" required="" [(ngModel)]="email">
				<input type="password" name="pswd" placeholder="Contraseña" [(ngModel)]="password" required="">
				<button (click)="ingresar()">Ingresar</button>
				<br>
				<button class="btnAccesoRapido" (click)="ingresarInvitado()">Acceso Invitado</button>
			</form>
		</div>

		<div class="signup">
			<form>
				<label for="chk" aria-hidden="true">Registrate</label>
				<input type="text" name="text" placeholder="Nombre Completo" [(ngModel)]="nombreUsuario" required="">
				<input type="email" name="email" placeholder="Email" [(ngModel)]="emailRegistro" required="">
				<input type="password" name="pswd" placeholder="Contraseña (min. 6 caract.)" [(ngModel)]="passwordRegistro" required="">
				<button (click)="guardar()">Registrar</button>
				<button class="btnAccesoRapido" (click)="registrarInvitado()">Registrar Invitado</button>

			</form>
		</div>
	</div>
</div>