<div id="container">
    <div id="box">
        <table class="table ">
            <thead>
                <tr style="background-color:rgb(10, 10, 10);">
                    <th>Usuario</th>
                    <th>Puntaje</th>
                    <th>Juego</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let resultado of listado">
                    <td>{{resultado.usuario}}</td>
                    <td>{{resultado.puntaje}}</td>
                    <td>{{resultado.juego}}</td>
                    <td>{{resultado.fecha}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>