* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

#container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    min-height: 100vh;
    background: #c2e59c;
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    overflow: hidden;
}

#box {
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#box2 {
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#imagen {
    background: url('./../../../assets/img/encuesta.jpg') no-repeat center/ cover;
    overflow: hidden;
    background-size: cover;
    background-color: black;
    height: 610px;

}

h1 {
    font-weight: bold;
}

h3 {
    margin-top: 0.5em;
}

input {
    width: 100%;
}

.fuente {
    font-size: 1.2rem;
    font-weight: bold;
}

.cuadro {
    margin-top: 1em;
}

label {
    font-size: 1.1rem;
}

.opciones {
    justify-content: center;
}

.radioBtn {
    float: left;
    margin-left: 2em;
}

button {
    margin-top: 2em;
 width: 100%;
}

.check {
    float: left;
    margin-left: 1em;
    width: 20px;
    height: 20px;
}