* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

#container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #c2e59c;
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
    background: linear-gradient(to right, #64b3f4, #c2e59c);

}

#box {
    padding: 2rem;
    margin-top: 2rem;
}

#imagen {
    background: url('./../../../assets/img/encuesta.jpg') no-repeat center/ cover;
    overflow: hidden;
    background-size: cover;
    background-color: black;
    height: 630px;

}

h1 {
    font-weight: bold;
}

input {
    width: 300px;
}

.fuente {
    font-size: 1.2rem;
    font-weight: bold;
}

label{
    font-size: 1.1rem;
}