*{
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

#menu{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

a{
    color: #fff !important;
}

#btnLogin,#btnSesion{
    background: #000;
    border: none !important;
}

#usuarioLogueado{
    position: absolute;
    display: flex;
	color: #fff !important;
    top:0;
    right: 0;
    margin-top: 1rem;
    margin-right: 9rem;
}

.navUl{
    margin-left: 6rem;
}