<nav class="navbar fixed-top" id="menu">
    <div class="container-fluid box">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <img src="assets/img/menu.png" alt="">
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h6 class="offcanvas-title" [hidden]="!auth2" id="offcanvasNavbarLabel">{{usuarioLogin}}</h6>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto" id="navbar">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" data-bs-dismiss="offcanvas">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/juegos" data-bs-dismiss="offcanvas">Juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/chat" data-bs-dismiss="offcanvas">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/encuesta" data-bs-dismiss="offcanvas">Encuesta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [hidden]="!admin" routerLink="/encuestas" data-bs-dismiss="offcanvas">Listado Encuestas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/resultados" data-bs-dismiss="offcanvas">Ranking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/quiensoy" data-bs-dismiss="offcanvas">Quien Soy</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <a class="navbar-brand text-flicker-in-glow" routerLink="/home">Sala  de  Juegos</a>
        </div>
        <form class="d-flex">
            <input [hidden]="auth2" type="button" id="btnLogin" (click)="redirigirLogin()"
            class="btn btn-outline-dark" value="Ingresar">
             <input [hidden]="!auth2" type="button" id="btnLogin" (click)="cerrarSesion()"
             class="btn btn-outline-dark" value="Cerrar sesión">
        </form>
    </div>
</nav>

