* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

#container {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);

}

.main {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;

}


h1 {
	color: #fff;
}

p {
	color: #fff;
	font-size: 18px;
}

img {
	margin-left: 5rem;
	width: 70%;
}

.imagenCircular {
	border-radius: 50%;
	display: flex;
	justify-content: center;
}

.Perfil {
	display: flex;
	justify-content: center;
	align-items: center;
}