<app-nav class="barraNav"></app-nav>
<div id="container">
    <div class="row main">
        <div class="col-sm-6 Perfil">
          <div >
            <div class="card-body">
              
              <h4 style="color:azure">Cristian Barraza</h4>
              <br>
              <h5 style="color:azure">Programador Junior</h5>
              <br>
              <h5 style="color:azure">Juego propio : Snake</h5>
              <br>
              <p class="card-text">Snake es un juego clásico, en el cual la serpiente va atrapando alimento y a medida que esto sucede, la misma va creciendo</p>
              <p class="card-text">En el juego se debe evitar colisionar con sus límites, ya que si esto sucede el jugador pierde.</p>
              <p class="card-text">Cuenta con dos botones simples para iniciar o detener y reiniciar. También cuenta con la opción de variar la velocidad, si el valor se disminuye la velocidad aumenta, de lo contrario el juego es más lento</p>
              
              
            </div>
          </div>
        </div>
        <div class="col-sm-6 Perfil">
          <div>
            <div class="card-body">
                <img class="imagenCircular"src="../../../assets/img/imagenQuienS.jpg" alt="Cristian Barraza">
            </div>
          </div>
        </div>
      </div>

</div>