
<div id="container" class="color-change-2x">
    <div class="row main">
        <div class="col-md-6 Perfil">
          <div >
            <div class="card-body text-focus-in">
              
              <h4 style="color:azure">Cristian Barraza</h4>
              <br>
              <h5 style="color:azure">Programador Junior</h5>
              <br>
              <h5 style="color:azure">UTN - Técnicatura Universitaria en Programación</h5>
              <br>
              <p class="card-text">Soy un estudiante de programación que se encuentra en la etapa final de sus estudios universitarios.</p>
              <p class="card-text">Cuento con conocimiento en diferentes tecnologías, en lenguajes compilados e interpretados.</p>
              <p class="card-text">Encuentro en la programación la posibilidad de poder desarrollar, crear y resolver situaciones, trabajar sobre desafíos lógicos en diferentes escenarios.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 Perfil">
          <div>
            <div class="card-body d-flex align-items-center puff-in-center">
                <img class="imagenCircular"src="../../../assets/img/imagenQuienS.jpg" alt="Cristian Barraza">
            </div>
          </div>
        </div>
      </div>

</div>