<app-nav class="barraNav"></app-nav>
<div id="container">
    <div class="row main">
        <div class="col-sm-6 Perfil">
          <div >
            <div class="card-body">
              <br>
              <h4 style="color:azure">Cristian Barraza</h4>
              <br>
              <h5 style="color:azure">Programador Junior</h5>
              <br>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio necessitatibus corrupti minima pariatur quas suscipit maiores accusantium dignissimos velit quaerat impedit exercitationem, explicabo temporibus quos error veniam laborum aliquid eligendi?</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 Perfil">
          <div>
            <div class="card-body">
                <img class="imagenCircular"src="../../../assets/img/imagenQuienS.jpg" alt="Cristian Barraza">
            </div>
          </div>
        </div>
      </div>


    <!-- <div class="main">
        <h1>Cristian Barraza</h1>
        <p>Explicación del juego propio: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil blanditiis consequuntur dolore, fugiat, commodi at id</p>
    </div>
    <img src="../../../assets/img/imagenQuienS.jpg" alt="Cristian Barraza"> -->
</div>