<div id="container">
    <div id="box" class="row">
        <div class="title text-flicker-in-glow">
            <h4>Listado de encuestas</h4>
        </div>
        <table class="table table-responsive table-hover text-focus-in ">
            <thead>
                <tr class="head">
                    <th>USUARIO</th>
                    <th>NOMBRE</th>
                    <th>EDAD</th>
                    <th>EXPERIENCIA</th>
                    <th>PREFENCIAS/TIPO</th>
                    <th>FAVORITOS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let enc of listado">
                    <td>{{enc.usuario}}</td>
                    <td>{{enc.nombre}} {{enc.apellido}}</td>
                    <td>{{enc.edad}}</td>
                    <td>{{enc.RespuestaExperiencia}}</td>
                    <td>{{enc.RespuestaPreferencias}}</td>
                    <td>{{enc.RespuestaJuegos}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>